body{
    background-color: aquamarine;
    /*
    background-image: url("imag/patron1.jpg");
    background-attachment: fixed; /*fondo fijo  
    word-spacing: 10px;
    letter-spacing: 5px;
    */ 
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(210, 135, 37);
    color: rgb(228, 46, 46);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration:underline;
}
h2{
    background-color: yellowgreen;
    border: 5px solid fuchsia;
    background-image: url("imag/patron2.jpg");
}